@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Inter:wght@300;400;700&family=Itim&family=Poppins:wght@300;600;700&family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: 'Inter', sans-serif;
}

/* navbar css */
a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
    }

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 40px 10px;
}

.logo{
    height: 25px;
    width: 90px;
}

ul{
    display: flex;
}

ul > li{
    list-style-type: none;
    margin: 0 8px;
    font-size: 14px;
}

ul > li > a{
    text-decoration: none;
    color: #000000;
}


a:hover{
color: rgb(0, 55, 255);
}

/* logo css */
.logo2{
    
   width: 100%;
    
}


.Second-card{
    margin: 90px auto;
    width: 80%;
    height: 228px;
    background: #4DFF94;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Text-inside-card{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    text-align: center;
    color: #000000;
}
.second-text-card{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    padding-top: 13px;
    color: #000000;
}
.End-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
       
}
